$sans-serif: "Lato", sans-serif;
$serif: "Lora", serif;

$light: 300;
$normal: 400;

$black   : #222;     // 0° 0% 13%
$white   : #fff;     // 0° 0% 100%
$white-d : #eee;     // 0° 0% 100%
$gray    : #605a5b;  // 350° 3% 36%
$gray-d  : darken($gray, 18%);
$gray-l  : #8c8a86;  // 40° 3% 54%
$blue    : #0198B6;  // 190° 99% 36%
$blue-l  : lighten($blue, 10%);
$peach   : #ffceb1;  // 22° 100% 85%

$bg-color : $black;
$polka-dot: $gray-d;

body {
  background-color: $bg-color;
  background-image: radial-gradient($polka-dot 15%, transparent 16%),
                    radial-gradient($polka-dot 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;

  color: $white;
}

h1,
h2 {
  font-family: $sans-serif;
}

p {
  font-family: $serif;
}

a {
  border-bottom: solid 1px $peach;
  color: $white;
  text-decoration: none;
}

header {
  color: $white;
  padding: 3em 1.2em;
}

.greeting {
  position: relative;
  min-height: 5em;
}

.greeting--avatar {
  background-image: url(/img/sq/me-xs-sq.png);
  background-size: 100px 100px;
  border: solid 2px hsla(0, 0%, 100%, .91);
  border-radius: 50em;
  box-shadow: inset 0 0 0 100px transparentize($gray-d, .91);
  height: 100px;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100px;
}

.greeting--text-container {
  left: 120px;
  position: absolute;
  top: 0;
}

.greeting--text {
  color: $white;
  margin: 0;
}

.greeting--text-lede {
  font-size: 2.4em;
  font-style: italic;
  padding-top: .1em;
}

.greeting--text-sub {
  color: $white;
  font-size: 1.2em;
  font-weight: $normal;
}

.blurb--container {
  box-sizing: border-box;
  padding: 1em 1.2em 1.4em 1.2em;
  width: 100%;
}

.blurb {
  max-width: 32em;
  margin: 0 auto;
}

.blurb--heading {

}
.blurb--heading-small {
  color: $white-d;
  display: block;
  font-size: .6em;
  font-weight: $light;
  padding: 4px 0;
}

.blurb--body {

}

.button-group {
  text-align: center;
}

.button,
a.button {
  border: none;
  color: $white;
  padding: .3em .4em .4em .4em;
  text-decoration: none;
}

.button-social,
a.button-social {
  box-sizing: border-box;
  font-size: 1.2em;
  margin: .2em;

  &:hover {
    border-bottom: solid 3px $peach;
  }
}

.media {
  border: solid 3px $white-d;
  border-radius: 1em;
  box-shadow: inset 0 0 0 1000px hsla(0, 0%, 0%, .2);
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.media-map {
  height: 180px;
  .info-window {
    color: #222;
    font-family: $sans-serif;
    padding: .2em;
  }
}

// small tablets, big phones
@media only screen
  and (min-width: 30em) {

  header {
    padding-top: 5em;
  }

  .greeting--text-container {
    left: 130px;
  }

  .blurb--heading {
    font-size: 1.6em;
  }
}

// tablet
@media only screen
  and (min-width: 48em) {

    header {
      padding-top: 6em;
      margin-left: -100px;
    }

    .blurb--heading {
      font-size: 2em;
    }
}

// desktop
@media only screen
  and (min-width: 64em) {

    header {

    }

}