.hyperspace {
	height: 100%;
	width: 100%;
}

.hyperspace-card-text {
	background: rgba(0,0,0,.9);
	border-radius: 50em;
	bottom: 0;
	color: white;
	/*font-family*/
	font-size: 12px;
	height: 200px;
	left: 0;
	line-height: 200px;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 200px;
	z-index: 10000;
}