html {
	height: 100%;
}
body {
	min-height: 100%;
	padding: 0;
}

.preview-container {
	padding: 0;
}

.preview {
	display: block;
	margin: 10px 0;
	padding: 0;
	width: 100%;
}

.preview > div {
	border: solid black 1px;
	height: 500px;
	line-height: 500px;
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

.card-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card-middle {
    display: table-cell;
    vertical-align: middle;
}

.card-inner {
    margin-left: auto;
    margin-right: auto; 
    width: 500px; /* default -- changed on card-by-card basis */
}

@media screen and (min-width: 960px) {

	.preview-container {
		margin: 0 auto;
		width: 960px;
	}

	.preview {
		border: solid black 1px;
		display: inline-block;
		height: 300px;
		margin: 5px;
		width: 300px;
	}

	.preview > div {
		border: none;
		height: auto;
		line-height: 300px;
		margin: 0;
		padding: 0;
		width: auto;
	}
}

@media screen and (min-width: 1240px) {
	.preview-container {
		width: 1215px;
	}
	.preview {
		height: 400px;
		line-height: 400px;
		margin: 0;
		width: 400px;
	}
	.preview > div {
		line-height: 400px;
	}
}

@media screen and (min-width: 1540px) {
	.preview-container {
		width: 1540px;
	}
	.preview {
		height: 500px;
		line-height: 500px;
		margin: 0;
		width: 500px;
	}
	.preview > div {
		line-height: 500px;
	}
}
