/*
Error: Invalid CSS after "...wesome.min.css)": expected selector or at-rule, was "@import url(//f..."
        on line 2 of style.scss

1: @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css)
2: @import url(//fonts.googleapis.com/css?family=Poiret+One);
3: @import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,600);
4: 
5: $sans-serif: "Helvetica-Neue", 'Open Sans', sans-serif;
6: $cursive: 'Poiret One', cursive;
7: 

Backtrace:
style.scss:2
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/scss/parser.rb:43:in `parse'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/listen-2.8.5/lib/listen/listener.rb:282:in `call'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/listen-2.8.5/lib/listen/listener.rb:282:in `_process_changes'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/listen-2.8.5/lib/listen/listener.rb:246:in `block in _wait_for_changes'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/listen-2.8.5/lib/listen/listener.rb:229:in `loop'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/listen-2.8.5/lib/listen/listener.rb:229:in `_wait_for_changes'
/Users/brettbeutell/.rvm/gems/ruby-2.1.5/gems/listen-2.8.5/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...wesome.min.css)\": expected selector or at-rule, was \"@import url(//f...\"\A         on line 2 of style.scss\A \A 1: @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css)\A 2: @import url(//fonts.googleapis.com/css?family=Poiret+One);\A 3: @import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,600);\A 4: \A 5: $sans-serif: \"Helvetica-Neue\", 'Open Sans', sans-serif;\A 6: $cursive: 'Poiret One', cursive;\A 7: "; }
