header {
  border-bottom: solid 4px white;
  border-top: solid 4px white;
  padding: 2em 3.4em 1em 3.4em;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%) translateZ(2px);
  -ms-transform: translateY(-50%) translateZ(2px);
  transform: translateY(-50%) translateZ(2px);
}

h1 {
  display: inline-block;
  font-family: "Sigmar One", sans-serif;
  font-size: 2.2em;
  margin: 0 auto;
  padding: .8rem 0 1rem 0;
  text-align: center;

  z-index: 1;

  background: linear-gradient(135deg, #952534 25%, #C83146 0, #C83146 50%, #952534 0, #952534 75%, #C83146 0);
  background-size: 50px 50px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Lora";

  text-shadow: 1px 1px #fff,
               1px -1px #fff,
               -1px -1px #fff,
               -1px 1px #fff;
}

.stripes {
  background: linear-gradient(45deg, transparent 25%, #D0D0D0 0, #D0D0D0 50%, transparent 0, transparent 75%, #D0D0D0 0);
  background-color: #222;
  background-size: 50px 50px;
  position: fixed;
  height: 100%;
  height: 100vh;
  top: 0;
  width: 100%;
  width: 100vw;
  z-index: 0;

/*  -webkit-filter: blur(1px);
  filter: blur(1px);
  transform: translateZ(0px);
*/}

.stripes-border {
  background: transparent;
  border-top: solid 1.8em #222;
  border-right: solid 2.3em #222;
  border-bottom: solid 2em #222;
  border-left: solid 2.3em #222;

  box-sizing: border-box;
  position: fixed;
  height: 100%;
  height: 100vh;
  top: 0;
  width: 100%;
  width: 100vw;
  z-index: 3;

  transform: translateZ(4px);
}

@media screen and (min-width: 414px) {

  .stripes {
    background-size: 80px 80px;
  }

  h1 {
    background-size: 80px 80px;
    font-size: 4em;
  }
}

@media screen and (min-width: 768px) {

  .stripes {
    background-size: 130px 130px;
  }
}