$black: #222;
$sans-serif: "Roboto", sans-serif;
$serif: "Roboto Slab", serif;

$pad-horizontal: 60px;
$pad-h: $pad-horizontal;

body {
  color: $black;
}

header {
  padding: $pad-h 120px;
  h1 {
    font-family: $sans-serif;
    font-size: 60px;
    text-shadow: 0 -1px 0 #ddd;
    small {
      font-size: 30px;
      font-weight: 300;
      opacity: .89;
      text-shadow: none;
    }
  }
  p {
    font-family: $serif;
    font-size: 22px;
    font-weight: 300;

    small {
      font-size: 16px;
      opacity: .7;
    }

    b {
      display: block;
      font-size: 30px;
      font-weight: 400;
    }
  }
}
.omg-d3-exmaple {
  max-width: 1200px;
  width: 100%;
}