$black     : #222;
$mint: #C7EFCF;
$sans-serif: "Roboto", sans-serif;
$serif     : "Roboto Slab", serif;

$pad-horizontal: 120px;
$pad-h         : $pad-horizontal;

body {
  color: $black;
}

// typography
h1 {
  font-family: $sans-serif;
}

p {
  font-family: $serif;
}

// lp
header {
  background: transparentize($mint, .5);
  padding: 60px $pad-h 75px $pad-h;
  h1 {
    font-size: 60px;
    margin: 18px 0;
    // text-shadow: 0 1px 0 #eee,
    //               1px 0 0 #eee,
    //               -1px 0 0 #eee,
    //               0 -1px 0 #eee;
    small {
      font-size: 30px;
      font-weight: 300;
      opacity: .89;
      text-shadow: none;
    }
  }
  p {
    font-size: 22px;
    font-weight: 300;
    small {
      font-size: 16px;
      opacity: .7;
    }
  }
}
.omg-d3-panel {
  padding: 20px $pad-h;
  h2 {
    color: #444;
    font-family: $sans-serif;
    font-size: 28px;
    small {
      font-family: $serif;
      font-size: 16px;
      font-weight: 300;
      opacity: .72;
      text-shadow: none;
    }
  }
}
.omg-d3-example {
  // margin-left: -80px;
  max-width: 1200px;
  width: 100%;
}


// chart-specific
.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

svg {
    font: 10px $sans-serif;
}