@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Poiret+One);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,600);
body,
html {
  color: #262626;
  margin: 0; }

body {
  padding-top: 85px; }

h1,
h2 {
  font-family: "Helvetica-Neue", "Open Sans", sans-serif;
  margin: 0; }

nav {
  background: #fff;
  display: table;
  height: 85px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }
  nav p {
    display: table-cell;
    font-family: "Poiret One", cursive;
    font-size: 24px;
    opacity: .7;
    padding: 0 0 6px 35px;
    vertical-align: middle; }
    nav p::after {
      background: url(/gifs/fireworks-small.gif);
      border-radius: 50em;
      content: "";
      height: 65px;
      opacity: 0.2;
      position: absolute;
      left: 30;
      top: 10;
      width: 65px;
      z-index: 1; }
  nav .bars {
    color: #666;
    display: table-cell;
    padding-right: 50px;
    text-align: right;
    vertical-align: middle; }
    nav .bars:hover {
      color: #262626;
      cursor: pointer; }

.container {
  background-image: radial-gradient(circle, #ffe929, rgba(255, 233, 41, 0.8));
  box-sizing: border-box;
  border-top: solid 4px #ddd;
  border-bottom: solid 4px #ddd;
  width: 100%;
  margin: 0;
  padding: 0; }

.paper {
  border-bottom: none;
  font-family: "Helvetica-Neue", "Open Sans", sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 840px;
  /*      box-shadow: 
          0 -1px 1px rgba(255,0,0,.15),
          0 -5px 0 -3px #eee,
          0 -5px 1px -2px rgba(255,0,0,.15),
          0 -10px 0 -5px #eee,
          0 -10px 1px -4px rgba(255,0,0,.15);*/ }
  .paper .leaf {
    border: solid 3px rgba(245, 245, 245, 0.92);
    padding: 15px 15px 20px 15px;
    margin: 0 auto; }
    .paper .leaf.leaf-bottom {
      border: none;
      padding: 100px 65px; }
    .paper .leaf.leaf-top {
      padding: 65px 65px 75px 65px; }

.leaf-top {
  background: transparent;
  color: #0a0a0a;
  display: block;
  position: relative; }
  .leaf-top h1 {
    font-family: "Poiret One", cursive;
    font-size: 52px;
    line-height: 60px; }
    .leaf-top h1 span {
      display: block;
      margin: 1px 0; }
    .leaf-top h1 i {
      font-style: normal; }
  .leaf-top p {
    color: rgba(38, 38, 38, 0.86);
    font-size: 26px;
    font-weight: 300;
    padding: 4px 2px;
    margin-bottom: 50px;
    margin-top: 40px; }
    .leaf-top p span {
      display: block;
      margin: 3px 0; }

.button {
  background: rgba(255, 255, 255, 0);
  border: solid 2px rgba(255, 255, 255, 0.86);
  border-radius: 2px;
  color: #262626;
  cursor: pointer;
  display: block;
  font-family: "Helvetica-Neue", "Open Sans", sans-serif;
  font-weight: 300;
  height: 55px;
  width: 125px;
  text-align: center;
  text-decoration: none;
  margin: 5px; }
  .button.button-large {
    font-size: 22px;
    width: 200px; }
  .button:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer; }

.button-group .button {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.arc-text-container {
  position: relative; }
  .arc-text-container .arc-text i {
    font-style: normal;
    height: 50px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom right; }

.u-second {
  background: #000;
  display: none; }

.char-1 {
  font-style: normal;
  transform: rotate(36deg); }

.char-2 {
  font-style: normal;
  transform: rotate(72deg); }

.char-3 {
  font-style: normal;
  transform: rotate(108deg); }

.char-4 {
  font-style: normal;
  transform: rotate(144deg); }

.char-5 {
  font-style: normal;
  transform: rotate(180deg); }

/*# sourceMappingURL=style.css.map */
