<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>hi. there.</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./blog.css">
</head>
<body>
    <header>
        <div class="top">
            hi.            
        </div>
        <!-- <div class="orb u-hide">B</div> -->
        <div class="middle">
            <p class="u-12px">
                my name is brett
            </p>
            <p class="u-14px">
               & i help code the internets.               
            </p>
            <div class="social-buttons">
                <ul>
                    <a href="//twitter.com/rudeboot">
                      <li class="">
                          <i class="button fa fa-twitter"></i>
                      </li>  
                    </a>
                    <a href="//medium.com/@BBeutell">
                      <li class="">
                          <i class="button fa fa-medium"></i>
                      </li>  
                    </a>
                    <a href="//github.com/brettimus">
                      <li class="">
                          <i class="button fa fa-github"></i>
                      </li>  
                    </a>
                </ul>
            </div>
        </div>
        <div class="bottom">
            (hello!)
        </div>
    </header>
{{ content }}
</body>
</html>